<li class="card">
    <form method="POST" action="/tasks/<%= task.uId %>/edit" class="card-form">
          <input type="text" name="task" class="task" value="<%= task.task %>" required>
          <input type="date" name="taskDate" class="task" value="<%= task.taskDate %>" required>
          <textarea name="taskField" class="task" rows="3"><%= task.taskField %></textarea>

          <div class="card-actions">
             <button type="submit" class="button">Edit</button>
             <a href="/tasks/<%= task.uId %>/delete" class="button-delete">✕</a>
          </div>
    </form>
</li>